[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The system call intercepting library
[access "refs/*"]
	owner = group user/Masamichi Takagi (masamichitakagi)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Masamichi Takagi (masamichitakagi)
	label-Verified = -1..+1 group user/Masamichi Takagi (masamichitakagi)
	push = group user/Masamichi Takagi (masamichitakagi)
	read = group user/Masamichi Takagi (masamichitakagi)
	rebase = group user/Masamichi Takagi (masamichitakagi)
	removeReviewer = group user/Masamichi Takagi (masamichitakagi)
	submit = group user/Masamichi Takagi (masamichitakagi)
[access "refs/heads/*"]
	create = group user/Masamichi Takagi (masamichitakagi)
	push = +force group user/Masamichi Takagi (masamichitakagi)
	pushMerge = group user/Masamichi Takagi (masamichitakagi)
	read = group user/Masamichi Takagi (masamichitakagi)
[access "refs/tags/*"]
	push = group user/Masamichi Takagi (masamichitakagi)
	push = +force group user/Masamichi Takagi (masamichitakagi)
